.screen-bg {
   height          : 200px;
   background-size : cover;
   position        : absolute;
   top             : 0;
   bottom          : 0;
   left            : 0;
   right           : 0;
   z-index         : 0;
}

.card-ref {
  background-color : white;
  border           : 1px solid #f1f1f1;
  border-radius    : 5px;
  padding          : 0px 5px;
  margin           : 5px 0px;
  .hover {
    padding          : 0px 10px;
    margin           : 5px 0px;
    border-radius    : 5px;
    visibility:       hidden;
    position:         absolute;
    top             : 0;
    bottom          : 0;
    left            : 2%;
    right           : 2%;
    z-index:          2;
    background-color: rgba($blue, .8);
    color: white;

  }
  &:hover {
    .hover{
      opacity:    1;
      visibility: visible;
      transition: opacity 300s ease;
    }
  }
}

.card-airgabion {
  background       : url('../images/airgabion-screen.jpg') no-repeat center center;
  position         : relative;
  padding          : 50px;
  background-size  : cover;
  height           : 200px;
  margin           : 20px auto;
}

.card-monea {
  background       : url('../images/monea-screen.jpg') no-repeat center center;
  position         : relative;
  padding          : 50px;
  background-size  : cover;
  height           : 200px;
  margin           : 20px auto;
}

.card-nomad {
  background       : url('../images/nomad-screen.jpg') no-repeat center center;
  position         : relative;
  padding          : 50px;
  background-size  : cover;
  height           : 200px;
  margin           : 20px auto;
}

.card-lapage {
  background        : url('../images/laplage-screen.jpg') no-repeat center center;
  position          : relative;
  padding           : 50px;
  background-size   : cover;
  height            : 245px;
  margin            : 20px auto;
}

.card-hem {
  background        : url('../images/hem-screen.png') no-repeat center center;
  position          : relative;
  padding           : 50px;
  background-size   : cover;
  height            : 245px;
  margin            : 20px auto;
}

.card-blodyn {
  background:       url('../images/blodyn-screen.png')no-repeat center center;
  background-size:  cover;
  position:         relative;
  height            : 245px;
  padding           : 50px;
  margin            : 20px auto;
}

.card-lcds {
  background        : url('../images/lcds-screen.png') no-repeat center center;
  position          : relative;
  padding           : 50px;
  background-size   : cover;
  height            : 245px;
  margin            : 20px auto;
}

.card-cataneo {
  background        : url('../images/cataneo-screen.png') no-repeat center center;
  position          : relative;
  padding           : 50px;
  background-size   : cover;
  height            : 245px;
  margin            : 20px auto;
}
