.welcome
  .container
    .row.padding-top
      .text-center
        = image_tag "cl-logo-01.png"
    .row.padding-top
      .text-center
        h2 site vitrine, blog, marketplace, e-commerce

.arrow

.about
  .container
    .row
      .text-center.padding-top
        h2 A propos de Clément Ledey
        hr
    .row.text-center.padded
      .col-xs-12.col-md-6
        = image_tag "me.jpg", class: "avatar avatar-bordered"

      .col-xs-12.col-md-6
        h3 Développeur de site web
        br
        p Après la formation intensive du Wagon à Lille, je suis devenu passionné par le developpement de site web.
        p Je développe des applications web tel que des marketplaces sous le langage Ruby on Rails. J'utilise aussi des outils tel que Github, Heroku, Middleman ...
        p Je créé également des sites web avec des CMS tel que Wordpress, Locomotive...

.skills
  .container
    .row
      .text-center.padding-top
        h2 Compétances
        hr
    .row.text-center.padded
      .col-xs-12.col-md-4.padding-top
        = image_tag "ruby.png", class: "logo-skills"
        h3 = "Ruby"

      .col-xs-12.col-md-4.padding-top
        = image_tag "rails.png", class: "logo-skills"
        h3 = "Rails"

      .col-xs-12.col-md-4.padding-top
        = image_tag "front-end.png", class: "logo-skills"
        h3 = "Front-end"

.references
  .container
    .row
      .text-center.padding-top
        h2 Dernières références
        hr

    .row.padding-top
      .col-xs-12.col-md-4
        = link_to "https://cataneo.fr/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 0.8s"
            .card-cataneo
            .hover
              h3.text-center cataneo.fr
              .padding-top
                p Agence immobilière
                p Site web de type vitrine
                p CMS : Wordpress
      .col-xs-12.col-md-4
        = link_to "https://www.lacentraledusport.fr/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 1s"
            .card-lcds
            .hover
              h3.text-center lacentraledusport.fr
              .padding-top
                p Comparateur d'offre en équipe sportif
                p Marketplace
                p Backend : Ruby on Rails
                p Frontend : Bourbon, Ember JS
                p Autres outils : Elasticsearch, Mangopay
      .col-xs-12.col-md-4
        = link_to "http://www.blodyn.fr/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 1.2s"
            .card-blodyn
            .hover
              h3.text-center Blodyn.fr
              .padding-top
                p Marketplace dans le secteur de la fleur
                p Backend : Ruby on Rails
                p Frontend : Bootstrap
                p Autres outils : Elasticsearch
    .row.padding-top
      .col-xs-12.col-md-4
        = link_to "http://www.laplageiledere.fr/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 0.8s"
            .card-lapage
            .hover
              h3.text-center laplageiledere.fr
              .padding-top
                p Restaurant
                p Site web de type vitrine
                p CMS : Wordpress
      .col-xs-12.col-md-8
        = link_to "http://higheredme.co/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 1s"
            .card-hem
            .hover
              h3.text-center higheredme.co
              .padding-top
                p PLace de marché inversé pour étudiant
                p Marketplace
                p Backend : Ruby on Rails
                p Frontend : Materialize
                p Autres outils : Stripe
    .row.padding-bottom
      .col-xs-12.col-md-4
        = link_to "https://easy-forex.herokuapp.com/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 1s"
            .card-monea
            .hover
              h3.text-center monea.cool
              .padding-top
                p Marketplace pour échanger des devises étrangères
                p Backend : Ruby on Rails
                p Frontend : Bootstrap
      .col-xs-12.col-md-4
        = link_to "http://airgabion-staging.herokuapp.com/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 0.8s"
            .card-airgabion
            .hover
              h3.text-center airgabion.fr
              .padding-top
                p le airbnb de la hute de chasse
                p Backend : Ruby on Rails
                p Frontend : Bootstrap
      .col-xs-12.col-md-4
        = link_to "http://www.deskimo.co/", target: "_blank" do
          .card-ref data-sr="ease-in-out 10px, over 1.2s"
            .card-nomad
            .hover
              h3.text-center deskimo.co
              .padding-top
                p Marketplace dans la location de courte durée de bureau
                p Backend : Ruby on Rails
                p Frontend : Bootstrap
